@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



/* 3. (Opsional) Jika kamu tetap ingin class manual seperti permintaanmu */
.satisfy-regular {
  font-family: var(--font-satisfy);
  font-weight: 400;
  font-style: normal;
}

/* Utility to hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
